body
{
    font: optional;
    background-color: #c1c1c1 !important;
}

#wrapper
{   
    width: 100%;
}

#heading
{
    font-size: 35px;
    height: 70px;
}


#photo1
{
    padding-top: 50px;
    width: 15%;
    float: left; 
}

#container
{
    margin-top: 50px;
    padding: 5px;
    float: left;
    width: 70%;
    text-align: center;
}

#photo2
{
    padding-top: 50px;
    width: 15%;
    float: left;
}

#dol
{
    height: 30px;
    width: 100%;
    clear: both;
}



.buttons1
{
    padding-top: 20px;

}

.buttons2
{
    padding-top: 50px;

}

hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}