{% extends "index.html" %}

{% block content %}
<br>
<hr class="style8">
<br/>
    <div id="lista">
        {% for bet in bets_db %}

        <form action="/my_bets" method="POST">
            Bet ID: {{ bet.bet_id }}<br/>
            Match ID: {{ bet.match_id }}<br/>
            Your bet: {{ bet.winner_bet }}<br/><br/>



            <input type="hidden" value="{{ bet.id }}" class="btn btn-info" name="option1">
            <input type="hidden" value="{{ bet.match_id }}" class="btn btn-info" name="option2">
            <input type="hidden" value="{{ bet.winner_bet }}" class="btn btn-info" name="option3">

            
            
            {% if not edition %}
                <input type="submit" value="Edit" class="btn btn-info" name="action">
                <input type="submit" value="Delete" class="btn btn-danger" name="action">
            {% else %}

                <form action="/my_bets" method="POST">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="key_edit" id="exampleRadios1" value="{{first[loop.index0]}}">
                        <label class="form-check-label" for="exampleRadios1">
                             {{first[loop.index0]}} 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="key_edit" id="exampleRadios2" value="{{second[loop.index0]}}">
                        <label class="form-check-label" for="exampleRadios2">
                            {{second[loop.index0]}}
                        </label>
                    </div>
                    <input type="hidden" value="{{ bet.bet_id }}" class="btn btn-info" name="bet_id">
                    <input type="submit" class="btn btn-secondary btn-sm" name="action_edit">
                </form>
            
            

            {% endif %}

                <br/><br/>
                <br>
                <hr class="style8">
        </form>
            

        {% endfor %}

    </div>
{% endblock %}










{% block leftboard %}
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.my_bets') }}" >
            My bets
        </a>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.log_out') }}" >
            Log out
        </a>
    </li>
    {{ login }}
{% endblock %}