{% extends "index.html" %}

{% block content %}

<div id="info">
  <h2>Profile Info</h2><br/>
    Your name: {{ user.name }}  <br/> 
    Your login: {{ user.user_login }} <br/>
    Your password:   <button type="submit" class="btn btn-warning" style="padding:0;">Change</button> <br/>
    Your credits: {{ user.credits }}<br/>
    Your Points: {{ user.points }}

</div>
<br/><br/><br/><br/>
<h2>Bets</h2><br/>
<div class="container">
    <div class="row">
      <div class="col">
        <h4>History</h4>
        {% for bet in bets %}
        <p>Bet ID: {{ bet.bet_id }} Match ID: {{ bet.match_id }} <br/>
          Your choice: {{ bet.winner_bet }}</p>
        {% endfor %}
      </div>
      <div class="col">
        <h4>Won</h4>
          {% for bet in won %}
            <p>Bet ID: {{ bet.bet_id }} Match ID: {{ bet.match_id }} <br/>
            Your choice: {{ bet.winner_bet }}</p>
          {% endfor %}
      </div>
      <div class="col">
        <h4>Lost</h4>
          {% for bet in lost %}
            <p>Bet ID: {{ bet.bet_id }} Match ID: {{ bet.match_id }} <br/>
          Your choice: {{ bet.winner_bet }}</p>
        {% endfor %}
      </div>
    </div>
  </div>


    

{% endblock %}




{% block leftboard %}
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.my_bets') }}" >
            My bets
        </a>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.log_out') }}" >
            Log out
        </a>
    </li>
    {{ login }}
{% endblock %}