{% extends "index.html" %}

{% block content %}

<p>HOME</p>

{% if message %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endif %}

<img src="static/img_home.jpg">







{% endblock %}