<!doctype html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
    
  <body>

    <div id="wrapper">

        <div id="heading">
            
            

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('paths.profile') }}">
                      <img src="static/soccer_img.png" width="50" height="50">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" type="button" aria-current="page" style="color:white" href="/dashboard">Profil</a>
                  </li>

                  
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color:red" href="/ranking">Ranking</a>
                  </li>

                  {% block leftboard %}
                  

                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url_for('paths.register') }}" >
                        Sign In
                    </a>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url_for('paths.login') }}" >
                        Log In
                    </a>
                </li>
                  {% endblock %}


              </ul>
        </div>



        <div id="photo1">
        </div>



        <div id="container">  

            {% block content %}
            {% endblock %}
        </div>  



        <div id="photo2">
        
        </div>

        <div id="dol"></div>

        

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </body>

</html>
