{% extends "index.html" %}

{% block content %}

<form action= "/profile" method="POST">

    {% if message %}
        <div class="alert alert-{% if is_success %}success{% else %}danger{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <input name="login" class="form-control" type="text" placeholder="Login" aria-label="default input example" >

    <input name="password" class="form-control" type="password" placeholder="Hasło" aria-label="default input example">

    <br/><br/>

    <input type="submit" value="Zaloguj" class="btn btn-secondary">

</form>



{% endblock %}