{% extends "index.html" %}

{% block content %}

    <div id="lista">
        <br>
        <hr class="style8">
        <br/>
        
            {% for match in matches %}
            <form action="/profile" method="POST">
                ID: {{ match.match_id }}<br/> {{ match.date }}, <br/> 
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="key" id="exampleRadios{{ match.match_id }}1" value="{{ match.match_id }} {{ match.first_team }}">
                    <label class="form-check-label" for="exampleRadios1">
                        {{ match.first_team }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="key" id="exampleRadios{{ match.match_id }}2" value="{{ match.match_id }} {{ match.second_team }}">
                    <label class="form-check-label" for="exampleRadios2">
                        {{ match.second_team }}
                    </label>
                </div>
                
                <input type="submit" class="btn btn-secondary btn-sm">
                <br/><br/>
                            <br>
                            <hr class="style8">
                <br/>
            </form>
            {% endfor %}

    </div>
{% endblock %}

{% block leftboard %}
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.my_bets') }}" >
            My bets
        </a>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.log_out') }}" >
            Log out
        </a>
    </li>
    {{ login }}
{% endblock %}




