{% extends "index.html" %}

{% block content %}


<table class="table caption-top">
    <caption></caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">Points</th>
    </tr>
    </thead>
    {% for user in users %}
    <tbody>
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{ user.user_login }}</td>
        <td>{{ user.points }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>













{% endblock %}





{% block leftboard %}

{% if logged %}
    
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.my_bets') }}" >
            My bets
        </a>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.log_out') }}" >
            Log out
        </a>
    </li>
    {{ login }}
    
{% else %}
    
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.register') }}" >
            Sign In
        </a>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url_for('paths.login') }}" >
            Log In
        </a>
    </li>
    
{% endif %}

{% endblock %}



