{% extends "index.html" %}

{% block content %}



<form action= "/login" method="POST">
			
  {% if message %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endif %}

    <input name="name" class="form-control" type="text" placeholder="Imię" aria-label="default input example">

    <input name="login" class="form-control" type="text" placeholder="Login" aria-label="default input example">

    <input name="password1" class="form-control" type="password" placeholder="Hasło" aria-label="default input example">

    <input name="password2" class="form-control" type="password" placeholder="Powtórz hasło" aria-label="default input example">

    <br/><br/>

    <input type="submit" value="Załóż konto" class="btn btn-secondary">



  </form>


{% endblock %}


